p {
	font-size: 1.2rem;
}
h1 {
	font-size: 2.8rem;
	color: $darkgrey;
	&:after {
		display: block;
		margin: 30px auto;
		content: '';
		width: 100px;
		height: 6px;
		background-color: $darkgrey;
	}
}
h2 {
	font-size: 1.8rem;
	&:after {
		display: block;
		content: '';
		height: 4px;
		width: 25px;
		background-color: #888;
		margin: 20px 0;
	}
}