// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #a7556b;

// Spacing

$big:	40px 0;
$med: 	20px 0;
$sml:	10px 0;

