/*----------------
# Contents
# - Top Bar
# - Header
# - Nav
-----------------*/
/*-----------------
# Top Bar
------------------*/
.top-bar {
	padding: 20px 0;
	background-color: $darkgrey;
	color: #fff;
	ul {
		display: block;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			font-size: 1.2rem;
			&:not(:last-child){
				margin-right: 25px;
			}
			.fa {
				margin-right: 15px;
			}
			a {
				color: #fff;
			}
		}
	}
}
/*-----------------
# Header
------------------*/
@include MQ(L){
	header {
		padding: 80px 0;
	}
}
@include MQ(S){
	header {
		padding: 20px 0;
		.col-md-4 {
			margin: 0 auto;
			text-align: center;
		}
	}
}
header {
	background-color: $midgrey;
	color: #fff;
	#yith-ajaxsearchform {
		@include MQ(L){
			width: 399px !important;
		}

		input[type='search'], input[type='submit']{
			background: none;
			padding: 5px;
			border: 2px solid #fff;
			outline: none;
			font-size: 1.4rem;
		}
		input[type='search'] {
			@include MQ(L){
				width: 80%;
			}

			
		}
		input[type='submit']{
			margin-left: -6px;
			&:hover {
				background-color: $darkgrey;
				color: #fff;
				transition: $ease;
			}
			@include MQ(L){
				width: 20%;
			}
			@include MQ(S){
				display: none;
			}
		}

	}
}
.autocomplete-suggestions {
	display: block;
	@include border-radius(0);
	background-color: $darkgrey;
	border: 0;
	@include MQ(L){
		width: 399px !important;
	}
	@include MQ(S){
		max-width: 100%;
	}
}
.autocomplete-suggestion {
	background-color: $darkgrey;
	font-size: 1.4rem;
	padding: 20px;
	&:hover {
		text-decoration: underline;
		background: none;
	}
	@include MQ(L){
		width: 399px !important;
	}
	@include MQ(S){
		font-size: 1rem;
		padding: 10px;
		width: 80% !important;
	}
}
/*-----------------
# Nav
------------------*/
.navbar {
	margin-bottom: 0;
	border: none;
}