/*----------------
# Contents
# - Top Bar
# - Header
# - Nav
-----------------*/
/*-----------------
# Top Bar
------------------*/
.top-bar {
	padding: 5px 0;
	background-color: $darkgrey;
	color: #fff;
	ul {
		display: block;
		padding: 0;
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			font-size: 1.2rem;
			&:not(:last-child){
				margin-right: 25px;
			}
			.fa {
				margin-right: 15px;
			}
			a {
				color: #fff;
			}
		}
	}
}
/*-----------------
# Header
------------------*/
@include MQ(L){
	header {
		padding: 20px 0;
	}
}
@include MQ(S){
	header {
		padding: 20px 0;
		.col-md-4 {
			margin: 0 auto;
			text-align: center;
		}
	}
}
.sticky {
	display: block;
	position: fixed;
	top: 0;
	transition: all ease-in-out 0.5s;
	z-index: 1000;
	width: 100%;
	opacity: .95;
	header {
		padding: 20px 0;
		transition: $ease;
	}
}
header {
	background-color: lighten($darkgrey, 5%);
	color: #fff;
	.logo {
		margin: 0 auto;
	}
	#yith-ajaxsearchform {

		@include MQ(L){
			width: 399px !important;
			padding-top: 50px;
		}

		input[type='search'], input[type='submit']{
			background: none;
			padding: 5px;
			border: 0;
			border-bottom: 2px solid #fff;
			outline: none;
			font-size: 1.4rem;
		}
		input[type='search'] {
			@include MQ(L){
				width: 80%;
			}

			
		}
		input[type='submit']{
			margin-left: -6px;
			&:hover {
				background-color: $darkgrey;
				color: #fff;
				transition: $ease;
			}
			@include MQ(L){
				width: 20%;
			}
			@include MQ(S){
				display: none;
			}
		}

	}
	a {
		color: #fff;
	}
	
	.cart-panel {
		display: inline-block;
		float: right;
		text-align: center;
		padding: 10px;
		padding-top: 50px;
		border-bottom: 2px solid #fff;
		@include MQ(S){
			float: none;
			width: 100%;
		}
		a {
			font-size: 1.4rem;
			&:hover {
				color: #fff;
			}
			&:not(:last-child){
				margin-right: 20px;
			}
		}
		.fa {
			padding-top: 10px;
			font-size: 3rem;
		}
	}
}
.autocomplete-suggestions {
	display: block;
	@include border-radius(0);
	background-color: $darkgrey;
	border: 0;
	@include MQ(L){
		width: 399px !important;
	}
	@include MQ(S){
		max-width: 100%;
	}
}
.autocomplete-suggestion {
	background-color: $darkgrey;
	font-size: 1.4rem;
	padding: 20px;
	&:hover {
		text-decoration: underline;
		background: none;
	}
	@include MQ(L){
		width: 399px !important;
	}
	@include MQ(S){
		font-size: 1rem;
		padding: 10px;
		width: 80% !important;
	}
}
/*-----------------
# Nav
------------------*/
.nav>li>a {
	padding: 20px;
}
.navbar-nav {

	.active {
		@include MQ(L){
			a{
				background: none;
				color: #fff;	
			}
		}
		@include MQ(S){
			a{
				background:none;
				color: #fff;
			}
			
		}
		
	}
	li {
		a {
			color: #fff;
			font-size: 1.3rem;
		}
		&:not(:last-child){
			margin-right: 20px;
		}
	}
}
.navbar {
	bottom: 0;
	margin-bottom: 20px;
	background-color: lighten($darkgrey, 5%);
	border: none;
	width: 100%;
	@include border-radius(0);
	.navbar-collapse {
		text-align: center;
		.navbar-nav {
			display: inline-block;
			float: none;
			margin: 0 auto !important;
			text-align: center;
			.active {
				@include MQ(L){
					a{
						background: none;
						color: #fff;	
					}
				}
				@include MQ(S){
					a{
						background:none;
						color: #fff;
					}
				}
				
			}
			li {
				a {
					color: #fff;
					font-size: 1.3rem;
				}
				&:not(:last-child){
					margin-right: 20px;
				}
			}
		}
	}
}

// Dropdown/Megamenu
.dropdown-toggle:hover, .dropdown>a:hover, .nav .open>a, .navbar-nav>.open>a {
	background: none !important;
}
.dropdown-menu {
	position: absolute;
	top: 60px;
	@include border-radius(0);
    background-color: $midgrey;
    border: 0;
    box-shadow: none;
    color: #fff;
    transition: $ease;
}
.dropdown-menu .sub-menu {
    left: 100%;
    margin-top: 0;
    padding: 40px;
}
.menu-col {
	width: 23vw;
	@include MQ(S){
		width: 80vw;
	}
	a {
		display: block;
		padding-bottom: 10px; 
		border-bottom: 2px solid #fff;
		&:hover {
			border-bottom: 2px solid #fff;
		}
	}
	.widget-area {
		li {
			float: left;
			display: inline-block;
			width: 48%;
			@include MQ(S){
				width: 100%;
			}
			img {
				margin-bottom: 20px;
			}

		}
		a {
			padding-bottom: 0;
			border-bottom: none;
		}
		.wp-post-image {
			width: 100%;
		}

	}
}
.yawp_wim_title {
		display: block;
		font-size: 1.3rem;
		padding-bottom: 10px;
		border-bottom: 2px solid #fff;
		margin-bottom: 10px !important;
}
.yamm-fw {
	.elementy-ul {
		padding: 0;
		list-style: none;
		li {
				padding: 20px 0 !important;
			a {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
}