/*-------------------------------------------------
# Contents
# - Home Page
-------------------------------------------------*/

/*-------------------------------------------------
# - Home Page
-------------------------------------------------*/
.best-sellers {
	width: 100%;
	h2 {
		font-size: 2.4rem;
		color: $darkgrey;
		text-align: center;
		&:after {
			display: block;
			margin: 30px auto;
			content: '';
			width: 100px;
			height: 6px;
			background-color: $darkgrey;
		}
	}
	.products {
		text-align: center;
		width: 100%;
		padding: 40px;
		li {
			text-align: center;
			margin: 0 auto !important;
			width: 50% !important;
			border: none !important;
			h3, .amount, .button {
				font-size: 1.4rem !important;
			}
			.amount {
				color: lighten($midgrey, 20%);
			}
			.button {
				display: none !important;
			}
			
		}
	}
}